body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.msg-user, .msg-secundario{
  padding-left: 5px;
  padding-right: 7px;
  word-wrap: normal;
}

.msg-secundario {
  border-radius: 30px 30px 30px 2px;
  display: inline-block;
  background-color: #ffffff;
}

.msg-user {
  border-radius: 30px 30px 2px 30px;
  float: right;
  display: inline-block;
  clear: both;
  background-color: #ffffff;
}
