body{
  margin: 0;
  padding: 0;
}

.input-date{
width: 400px;
height: 50px;
font-size: 35px;
font-family: 'Libre Baskerville', serif;
}
.position-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.position-submit{
  margin-left: 5px;
  height: 50px;
}
.well{
  height: 200px;
}
.progress{
  margin-top: 50px;
  margin-bottom: 5px;
}
