body {
  margin: 0;
  padding: 0;
}
.well{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #2a88bd;
}

.notification{
  -webkit-transition: background 1s linear, border 3s;
  	-moz-transition: background 1s linear, border 3s;
  	-o-transition: background 1s linear, border 3s;
  	transition: background 1s linear, border 3s;

}
.notification:hover{
  background-color: #DCDCDC;
  color: black;

}
.date-hora:hover{
  color: #2a88bd;
}
.date-hora {
  color: gray;
  font-size: 0.8em;
  float: right;
  font-family: 'Yantramanav', sans-serif;
  margin-bottom: 10px;
}
