body{
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.btn-confirma{
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ls{
  margin-bottom: 7px;
}
.well{
  border: 1px solid #d3e0e9;
  background-color: #fff;

}
.user-responsavel{
   white-space: nowrap; 
  width: 100px;
  overflow: hidden;
  text-overflow:ellipsis;
}
.title-pedidos:hover{
  text-decoration: none;
  color: #000;
}


.responsavel:hover{
  text-decoration: none;
  color: #000;
}
.responsavel{

}
.well, .responsavel, .title-pedidos{
  color: #000;
}

/*Small*/

@media screen and (max-width: 767px) {


}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {


}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

/* > Computer*/

@media screen and (min-width: 1200px) {


}
