body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h2 {
  margin-top: 10px;
}

.position-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.btn-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}
.position-submit {
  height: 50px;
}

.well {
  border: 2px solid #d3e0e9;
}

.progress {
  margin-top: 50px;
  margin-bottom: 5px;
}

.disponivel, .pendente, .indisponivel {
  display: inline-block;
  color: #fff;
  padding-right: 5px;
  border-radius: 7%;
  padding-left: 5px;
}

.disponivel {
  background-color: green;
}

.pendente {
  background-color: #FF8C00;
}

.indisponivel {
  background-color: red;
}

.style-icons {
  color: #2a88bd;
  border: 3px solid #2a88bd;
  padding: 3px;
  margin-left: 5px;
  border-radius: 10%;
  float: right;
}

.arrow-right {
  margin-left: 10px;
  font-size: 40px;
}

.arrow-left {
  margin-right: 10px;
  font-size: 40px;
}
.footer{
  margin-top: 30px;
}



/*Small*/

@media screen and (max-width: 767px) {
  .well {
    height: 260px;
  }
  .input-date {
    width: 250px;
    height: 40px;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {
  .well {
    height: 260px;
  }
  .input-date {
    width: 400px;
    height: 50px;
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
  }


}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .well {
    height: 260px;
    font-family: 'Muli', sans-serif;
  }
  .input-date {
    width: 400px;
    height: 50px;
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
  }
}

/* > Computer*/

@media screen and (min-width: 1200px) {
  .well {
    height: 260px;
  font-family: 'Muli', sans-serif;
  }
  .input-date {
    width: 400px;
    height: 50px;
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
  }
}
