body{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

label, span, .title-agenda, .panel-heading{
  color: #000;
}
.btn-primary{
  color: #fff;
}
.space-top{
  margin-top: 30px;
}

.date-top{
  float:right;
  border: 1px solid #777777;
  background-color: #777777;
  padding: 0 7px 0 7px;
  border-radius: 10%;
  color: #ffffff;
}
