.btn-aceita{
  background-color: green;
  color: #fff;
  text-decoration: none;
}
.btn-rejeitado{
  background-color: red;
  color: #fff;
  text-decoration: none;
}
.btn-pendurado{
  background-color: #FF8C00;
  color: #fff;
  text-decoration: none;
}
.b-aceita, .b-rejeitado, .b-pendurado{
  margin-top: 15px;
  margin-right: 25px;
  margin-bottom: 10px;
}
.btn-aceita:hover, .btn-rejeitado:hover, .btn-pendurado{
  color: #fff;
}
