body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*pessoas relacionadas*/

.user-relacionado {
  margin-top: 0;
  margin-bottom: 20px;
}

.well-perfil {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.well-pessoa {
  margin-top: 25px;
}

/*chat*/

.altura-title {
  margin-top: 25px;
}

.well-chat {
  margin-top: 30px;
  height: 400px;
  overflow: auto;
}

/*assunto*/
.well-assunto {
  margin-top: 25px;
	height: 430px;
	overflow: auto;
}

.user-assunto {
  margin-top: 0;
  margin-bottom: 20px;

}

.text-assunto:link, .text-assunto{
	text-decoration: none;
	color: #636b6f;

}
.text-assunto:hover{
  background-color: pink;
}

#teste{
margin-top: 15px;

}
