body{
  margin: 0;
  padding: 0;
}

.letra-perfil-member{
  display: flex;
  align-items: center;
  justify-content: center;
}
#letra{
  color: #fff;
  font-size: 1.5em;
}
h5{
  margin-bottom: 3px;
  font-size: 1.5em;
}

