body{
  background-color: #fff;
}
h2, input, span{
  color:#000;
}
.check{
  margin-top: 6px;
}
.primary-container{
  margin-top: 25px;
}
h2{
  margin: 30px 0 30px 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  margin-left: 20px;
}
a:hover{
  color: red;
}
.descrition{
  margin-left: 20px;
}
.fa-circle-o{
  color: green;
  margin-right: 3px;
}
