/*well principal*/
.fa-caret-down{
  padding: 0;
  color: black;
  font-size: 20px;
}
.icone-down{
  margin-top: -5px;
}
.well-principal{
  height: 50px;
  margin-bottom: 3px;
}
.aud-name{
  padding: 0;
  color: black;
  margin-top: -8px;
  font-size: 20px;
}

.progress{
  margin-top: 0;
  margin-bottom: 5px;
}

.status-periodo{
  margin-bottom: 15px;
  color: black;
}


/*end well pricipal*/

/*well secundario*/
.well-collapse{
  height: 345px;
}
.status-color-green{
  font-size: 30px;
  margin-left: -12px;
  margin-top: 3px;
  color: green;
}
.status-color-orange{
font-size: 30px;
  margin-left: -12px;
  margin-top: 3px;
  color: orange;
}
.status-color-red{
  font-size: 30px;
  margin-left: -12px;
  margin-top: 3px;
  color: red;

}
.hour-secundario{
  padding: 0px;
}
.hour-secundario:hover{
  border: 1px solid black;
  border-radius: 3%;
}
.horas{
  color: black;
  position: relative;
  top: 5px;
  font-family: 'Lora', serif;
  font-size: 16px;
}

.capacidade{
  color: black;
  margin-top: 10px;
}
