body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

/*pessoas relacionadas*/

.user-relacionado {

}

.well-perfil {

}

.well-pessoa {

  background-color: #fff;
}



/*chat*/

.altura-title {
  margin-top: 25px;
}

.well-chat {
  margin-top: 30px;
  height: 400px;
  overflow: auto;
  background-color: #DCDCDC;
}

/*assunto*/
.well-assunto {
  margin-top: 25px;
	height: 500px;
	overflow: auto;
  background-color: #fff;
}

.user-assunto {
  font-size: 14px;

}

.text-assunto:link, .text-assunto{
	text-decoration: none;
	color: #636b6f;

}
.text-assunto:hover{

}

#teste{
margin-top: 15px;

}
.well-pessoa{
  height: 500px;
  overflow: auto;
}


/*Small*/

@media screen and (max-width: 767px) {

}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {


}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*pessoas relacionadas*/
  .well-perfil {
    border-radius: 100%;
    width: 40px;
    height: 40px;
  }

  .well-pessoa {

    background-color: #fff;
  }
}

/* > Computer*/

@media screen and (min-width: 1200px) {
  /*pessoas relacionadas*/
  .well-perfil {

    width: 40px;
    height: 40px;


  }

  .well-pessoa {

    background-color: #fff;
  }
}
}
