body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

/*pessoas relacionadas*/

.well-pessoa {
  margin-top: 25px;
  background-color: #fff;
}

.user-relacionado {
  margin: 10px 0px 10px 0px;
}

/*chat*/

.altura-title {
  margin-top: 25px;
  font-size: 25px;
}
.input-chat{

bottom: 0px;
  }
.well-chat {
  margin-top: 30px;
  height: 400px;
  overflow: auto;
  background-color: #DCDCDC;
}

/*assunto*/

.well-assunto {
  margin-top: 25px;
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
  background-color: #fff;
}

.user-assunto {
  margin: 10px 0px 10px 0px;
  font-size: 25px;
}

.text-assunto:link, .text-assunto, .text-assunto:hover {
  text-decoration: none;
  color: #000;
}

.uni {
  white-space: nowrap;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trash-assunto {
  float: right;
  color: #000;
}

.trash-assunto:hover {
  color: red;
}

#teste {
  margin-top: 15px;
}

.well-pessoa {
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
}


/*Small*/

@media screen and (max-width: 767px) {}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 991px) {}

/*Computer*/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*pessoas relacionadas*/
  .well-perfil {
    border-radius: 7%;
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }
  .well-pessoa {
    background-color: #fff;
  }
  .btn-chamada {
    background-color: green;
    color: #fff;
  }
}

/* > Computer*/

@media screen and (min-width: 1200px) {
  /*pessoas relacionadas*/
  .well-perfil {
    border-radius: 7%;
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
  }
  .well-pessoa {
    background-color: #fff;
  }
  .btn-chamada {
    background-color: green;
    color: #fff;
  }
}
