body{
  margin: 0;
  padding: 0;
}
h2{
  margin-top: 10px;
}
.input-date{
width: 400px;
height: 50px;
font-size: 35px;
font-family: 'Libre Baskerville', serif;
}
.position-form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.position-submit{
  margin-left: 5px;
  height: 50px;
}
.well{
  height: 300px;
}
.progress{
  margin-top: 50px;
  margin-bottom: 5px;
}
.disponivel, .pendente, .indisponivel{
  display: inline-block;
  color: #fff;
  padding-right: 3px;
  border-radius: 7%;
  padding-left: 3px;
}
.disponivel{
  background-color: green;
}
.pendente{
  background-color: #FF8C00;
}
.indisponivel{
  background-color: red;
}
